<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Lora:ital@1&family=Poppins&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Blog uploaded successfully</title>
</head>


<body class="bg-black overflow-x-hidden transition duration-700">
    <section class="py-32 flex items-center justify-center">
        <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" class="tick fill-current text-pink-500 h-32 mx-auto"
                viewBox="0 0 24 24">
                <path
                    d="M5.48 10.089l1.583-1.464c1.854.896 3.028 1.578 5.11 3.063 3.916-4.442 6.503-6.696 11.311-9.688l.516 1.186c-3.965 3.46-6.87 7.314-11.051 14.814-2.579-3.038-4.301-4.974-7.469-7.911zm14.407.557c.067.443.113.893.113 1.354 0 4.962-4.038 9-9 9s-9-4.038-9-9 4.038-9 9-9c1.971 0 3.79.644 5.274 1.723.521-.446 1.052-.881 1.6-1.303-1.884-1.511-4.271-2.42-6.874-2.42-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11c0-1.179-.19-2.313-.534-3.378-.528.633-1.052 1.305-1.579 2.024z" />
            </svg>
            <p class="text-white text-5xl secHeading mt-12 successMsg">Your blog has been uploaded.</p>
            <div class="">
                <form action="/blogs/<%=title%>" method="post">
                    <button class="btn w-full py-6 text-xl text-white mt-12 border-2 border-pink-500 rounded-full">View
                        Blog</button>
                </form>
                <form action="/dashboard">
                    <button class="btn w-full py-6 text-xl text-white mt-6  rounded-full bg-pink-500">Back to
                        dashboard</button>
                </form>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
    <script>
        gsap.from('.tick', { scale: 2, rotate: 30 })
        gsap.from('.successMsg', { opacity: 0, y: 30 })
        gsap.from('.btn', { opacity: 0, y: 30, stagger: 0.1 })
    </script>
</body>
